{{#extend "layout-base"}}
	  {{#content "body"}}

      <div class="app" ng-controller="AppCtrl">

          {{#embed "partial-header"}}{{/embed}}
          {{#embed "partial-sidebar"}}{{/embed}}

          <div class="app-pages">
              <div class="app-page hide" data-page="stream" ng-class="{show: page === 'stream' || page == '', hide: page != 'stream' && page != ''}">
                  {{#embed "partial-stream"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="account"  ng-class="{show: page === 'account', hide: page != 'account'}">
                  {{#embed "partial-account"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="mywallet"  ng-class="{show: page === 'mywallet', hide: page != 'mywallet'}">
                  {{#embed "partial-wallet"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-assigned"  ng-class="{show: page === 'article-assigned', hide: page != 'article-assigned'}">
                  {{#embed "partial-article-assigned"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-drafts"  ng-class="{show: page === 'article-drafts', hide: page != 'article-drafts'}">
                  {{#embed "partial-article-drafts"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-read"  ng-class="{show: page === 'article-read', hide: page != 'article-read'}">
                  {{#embed "partial-article-read"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-reviewed"  ng-class="{show: page === 'article-reviewed', hide: page != 'article-reviewed'}">
                  {{#embed "partial-article-reviewed"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-submitted"  ng-class="{show: page === 'article-submitted', hide: page != 'article-submitted'}">
                  {{#embed "partial-article-submitted"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-editor"  ng-class="{show: page === 'article-editor', hide: page != 'article-editor'}">
                  {{#embed "partial-article-editor"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-preview"  ng-class="{show: page === 'article-preview', hide: page != 'article-preview'}">
                  {{#embed "partial-article-preview"}}{{/embed}}
              </div>
              <div class="app-page hide"  data-page="article-review"  ng-class="{show: page === 'article-review', hide: page != 'article-review'}">
                  {{#embed "partial-article-review"}}{{/embed}}
              </div>
          </div>

        <script>
          angular.module("DNN")
            .controller("AppCtrl", ["$scope", "$timeout", "$location", function($scope, $timeout, $location) {
                window["addEventListener"]("load", function() {

											// Indicates whether or not alpha is in simulated mode
											$scope.isSimulated = true;

											$scope.toggleSimulation = function() {
												 	if ($scope.isSimulated) {
															var popup = new DNN.popups.Popup("","","Thank you for your interest in trying the blockchain version. We are currently in the process of updating our smart contracts. We will be sure to notify you when the blockchain version becomes available.");
															popup.show();
													}
											};

											// Current page being viewed
											$scope.page = "stream"

											// Current article being viewed
											$scope.articleHash = "";

											// Sets current page
	                    $scope.setPage = function(page, url) {
													$location.url(page + (url || "") );
													$scope.page = page;
	                    };

											// Loads article for review
	                    $scope.reviewArticle = function(slug) {
											    $scope.setPage("article-review", "/" + slug);
											};

											// Loads article for viewing
	                    $scope.viewArticle = function(slug) {
											    $scope.setPage("article-preview", "/" + slug);
											};

											// Loads article for editing
	                    $scope.editArticle = function(slug) {
											    $scope.setPage("article-editor", "/" + slug);
	                    };

											// Set current page onload
										  $scope.$on('$locationChangeStart', function(event, next, current) {
													 $scope.page = (($location.url() || "").split("/")[1]) || ""
											});

											// Set DNN
											$scope.DNN = DNN;

											// Show loading indicator while we attempt to fetch session user
											LI.show();

											// Attempt to obtain session user
											DNN.Session.get()
												.then(function(user) {
														LI.hide();

														//var popup = new DNN.popups.Popup("","","Thank you for your interest in trying the DNN alpha. We are currently in the process of updating our smart contracts. We will be sure to notify you when the alpha is back online.");
														//popup.preventHide = true
														//popup.show();

														$timeout(function() {

																	// Set current page
																	$scope.page = (($location.url() || "").split("/")[1]) || ""
														})

												})
												.catch(function() {
														LI.hide();
														DNN.Redirect("/onboard");
												})

								});
        	}]);
        </script>
		{{/content}}
{{/extend}}
