{{#extend "layout-base"}}
	  {{#content "body"}}
  		<div class="page-wrapper" ng-controller="ArticleCtrl">
				{{#embed "partial-header"}}{{/embed}}
	      <div id="wrapper">
	         <main id="article">
	           <article>
	             <div class="intro">
	               <div class="picture"></div>
	               <div class="details">
	                 <span>Written by: <strong>Bill Evans</strong></span>
	                 <span>January 24, 2017</span>
	               </div>
	             </div>
	              <h1>Heading of Article will go here</h1>
	              <div class="media main"></div>
	              <div class="share">
	                <a href="javascript:void(0);">
	                  <div class="facebook"></div>
	                </a>
	                <a href="javascript:void(0);">
	                  <div class="twitter"></div>
	                </a>
	                <a href="javascript:void(0);">
	                  <div class="heart"></div>
	                  <span>25</span>
	                </a>
	              </div>
	              <div class="divider"></div>
	             <div class="body">
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <div class="media"></div>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <div class="media"></div>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst. Vivamus dapibus neque at libero eleifend pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin interdum vestibulum odio at rutrum. Aenean egestas commodo mauris et consequat. Nulla et iaculis nunc. Donec ullamcorper nisl consectetur turpis laoreet, quis vulputate massa porta.</p>
	            </div>
	          </article>

	          <div class="comment-section">
	            <div class="poster">
	              <div class="heading">
	                <div class="picture"></div>
	                <span>Jennifer Smith</span>
	              </div>
	              <textarea placeholder="Type your comment..."></textarea>
	              <div class="options">
	                  <button class="option-cancel">Cancel</button>
	                  <button class="option-post">Post</button>
	              </div>
	            </div>
	            <div class="comment-count">
	              <div class="icon"></div>
	              <div class="count">15 comments</div>
	            </div>
	            <button class="post-button">Post Comment</button>
	            <div class="comments">
	                <div class="comment">
	                  <div class="picture"></div>
	                  <div class="body">
	                      <strong>Jennifer Smith, 3m ago</strong>
	                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                  </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	                <div class="comment">
	                    <div class="picture"></div>
	                    <div class="body">
	                        <strong>Jennifer Smith, 3m ago</strong>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, ligula vitae posuere cursus, mi diam euismod odio, et tristique augue magna non est. Aliquam euismod orci lacinia massa convallis dapibus. In hac habitasse platea dictumst.</p>
	                    </div>
	                </div>
	            </div>
	          </div>

						<div class="bottom">
	            	<button onclick="window.location.href = '/dashboard'">Back to Dashboard</button>
	          </div>
					 </main>
	       </div>
			</div>
    {{/content}}

		{{#content "scripts"}}
		{{/content}}
{{/extend}}
