<div class="page-wrapper" ng-controller="ArticlesAssignedCtrl">
	<div class="wrapper">
     <main id="article-assigned">
			  <h1>Articles Assigned</h1>

			  <div class="articles" ng-show="articles.length > 0">
						<div class="article-wrapper" ng-repeat="article in articles">
								<div class="article" ng-click="review([[article.slug]])">
									<mediabackground ng-if="article.article.cover && article.article.cover != ''"  type="image" hash="article.article.cover"></mediabackground>
									<div ng-if="!article.article.cover || article.article.cover == ''" class="image"></div>
									<div class="body">
											<span ng-if="article.article.title.text != ''">[[article.article.title.text]]</span>
											<span ng-if="article.article.title.text == ''">Untitled</span>
											<span><i></i> Created [[article.article.created | fromnow]]</span>
									</div>
								</div>
								<div class="options">
										<button ng-click="review([[article.slug]])" class="option option-review">Review</button>
								</div>
					</div>
			</div>

			<p class="empty-message" ng-show="articles.length === 0">You have not been assigned any articles yet.</p>

			<div class="bottom">
        <button ng-click="$parent.setPage('stream')">Back to Feed</button>
      </div>

    </main>
    </div>
</div>

<script>
		'use strict';
		angular.module('DNN')
			.controller('ArticlesAssignedCtrl', ['$scope', '$location', '$timeout', '$controller', function($scope, $location, $timeout, $controller) {
					window["addEventListener"]('load', function() {

									// Watch page change
								$scope.$parent.$watch("page", function(page) {

											// Make sure we are on this page
										 if (page === "article-assigned") {

											 		DNN.User.getAssignedArticles()
														.then(function(data) {
																$timeout(function() {
																		if (data.articles) {
																				$scope.articles = data.articles;
																		}
																		else {
																				$scope.articles = [];
																		}
																});
														});

														$scope.review = function(slug) {
															console.log(slug);
																	var popup = new DNN.popups.ArticleReviewConfirmation();
																	popup.on("button", function(event) {
																			if (event.detail.button === 1) {
																					$timeout(function() {
																							$scope.$parent.reviewArticle(slug);
																					});
																			}
																	});
																	popup.show();
														};
										 }

								});

					});

			}]);
</script>
