
<div class="page-wrapper" ng-controller="AccountCtrl">
		<div class="wrapper">
       <main id="account">
				  <h1>My Account</h1>
					<div class="account-profile">
						 		<button ng-click="addPhoto()"></button>
								<div class="media image" ng-if="user && user.photo == ''" ng-click="addPhoto()"></div>
								<mediabackground ng-click="addPhoto()" ng-if="DNN.Session.current.photo && DNN.Session.current.photo != ''"  type="image" hash="DNN.Session.current.photo"></mediabackground>
		 		       </div>
					 <div class="fields">
						 	<div class="field">
									<input type="text" placeholder="Fullname" ng-model="user.name">
							</div>
							 <div class="field">
									<input type="email" placeholder="Email" ng-model="user.email">
							</div>
					 </div>
					 <a class="btn" ng-disabled="!user || user.name.length == 0" ng-click="save()" href="javascript:void(0);">Save</a>
			 </main>
    </div>
</div>

<script>
		'use strict';
		angular.module('DNN')
			.controller('AccountCtrl', ['$scope', '$location', '$timeout', '$controller', function($scope, $location, $timeout, $controller) {
						window["addEventListener"]('load', function() {

									// Watch page change
									$scope.$parent.$watch("page", function(page) {

											 // Make sure we are on this page
											 if (page === "account") {
												  DNN.Session.get()
														.then(function() {
															 	 $timeout(function() {
																	  	$scope.user = DNN.Session.current;
																 })
														});

														$scope.save = function() {
																 DNN.popups.Notice("Your account has been successfully updated.").show();
																 DNN.Session.update();
														};

														$scope.addPhoto = function() {

																	// Uploader popup
																	var popup = DNN.popups.UploaderLocal();

																	// Update UI to reflect upload
																	popup.on("uploaded", function(event) {
																				var details = event.detail
																				$timeout(function() {
																							$scope.user.photo = details.mediaid;
																				});
																	});
																	popup.show();
														};
												}
									});
						});
			}]);
</script>
