
<div class="page-wrapper" ng-controller="EditorCtrl">
  <div class="wrapper" id="editor-wrapper">

     <div id="editor-sources">
        <h3>Sources</h3>
        <div class="sources">
            <div class="source" ng-repeat="source in article.sources">
                <span>[[$index+1]] [[source.text]]</span>
                <a href="javascript:void(0);" class="close" ng-click="controls.removeSource($index)">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
     </div>

     <main id="editor">

       <div class="heading">
          <h1>Draft</h1>
					<span class="save-indicator">[[saveIndicator]]</span>
       </div>

      <!-- Article -->
      <div class="content">

          <!-- Article heading -->
          <input type="text" ng-model="article.title.text" placeholder="Title..." class="title">

          <!-- Article cover -->
          <button class="add-media" ng-click="addArticleCover()"></button>

          <!-- Remove cover option -->
         <a href="javascript:void(0);" class="remove-media" ng-show="article && article.cover != ''" ng-click="article.cover = ''">Remove Cover</a>

         <!-- Article cover preview -->
          <media ng-if="article.cover" type="image" hash="[[article.cover]]"></media>

          <!-- Article body -->
          <div class="body content-editor">
              <div class="editable-content"></div>
              <div class="placeholder" ng-show="!article.body.text || article.body.text.length === 0">Type your article...</div>
          </div>

          <!-- Bottom Bar -->
          <div class="editor-bottom">
             <div class="wrapper">

               <!-- Formatting options -->
               <div class="editor-controls" ng-show="controls.show">
                   <a href="javascript:void(0);" class="editor-bold"></a>
                   <a href="javascript:void(0);" class="editor-italic"></a>
                   <a href="javascript:void(0);" class="editor-link" ng-click="controls.link()" </a>
                   <a href="javascript:void(0);" ng-click="controls.addSource()" class="editor-source"></a>
               </div>

               <!-- Submit article --->
               <a href="javascript:void(0);" ng-click="submit()" class="button" ng-disabled="!article || article.title.text.length == 0 || article.body.text.length == 0">Submit for Review</a>

               <!-- Article guidelines -->
               <a href="/guidelines" target="_blank" class="guidelines">Read DNN Guidelines</a>

           </div>
   			 </div>

      </div>
     </main>

    </div>
</div>

<script>
  angular.module("DNN")
    .controller("EditorCtrl", ["$scope", "$timeout", "$location", function($scope, $timeout, $location) {
					window["addEventListener"]('load', function() {

                // Save Timeout
                var saveTimeout = null;

                // Editable Element Reference
                var $editableContent = $(".editable-content");

                // Body Reference
                var $body = $("body");

                // Removes any css styles from an element
                var stripStyles = function($content) {
                    $content.find('*[style]').removeAttr("style");
                    return $content
                };

                // Begin listening to all input events and funnel them into the article.
                var startListeningToBodyInput = function() {
                      // Update scope on all input events
                      $body.on("focusout", function() {
                          $timeout(function() {
                              $scope.article.body.text =  $editableContent.text();
                              $scope.article.body.textmarkup = stripStyles($editableContent).html();
                          });
                      })
                      $body.on("keypress", function() {
                          $timeout(function() {
                              $scope.article.body.text =  $editableContent.text();
                              $scope.article.body.textmarkup = stripStyles($editableContent).html();
                          });
                      })
                      $body.on("keyup", function() {
                          $timeout(function() {
                              $scope.article.body.text =  $editableContent.text();
                              $scope.article.body.textmarkup = stripStyles($editableContent).html();
                          });
                      })
                      $body.on("keydown", function() {
                          $timeout(function() {
                              $scope.article.body.text =  $editableContent.text();
                              $scope.article.body.textmarkup = stripStyles($editableContent).html();
                          });
                      })
                      $body.on("cut", function() {
                          $timeout(function() {
                              $scope.article.body.text =  $editableContent.text();
                              $scope.article.body.textmarkup = stripStyles($editableContent).html();
                          });
                      })
                      $body.on("paste", function() {
                          $timeout(function() {
                              $scope.article.body.text =  $editableContent.text();
                              $scope.article.body.textmarkup = stripStyles($editableContent).html();
                          });
                      })
                      $body.on("click", ":not(.editable-content, .editor-controls)", function() {
                          $timeout(function() {
                              $scope.controls.boldActive = false;
                              $scope.controls.italicActive = false;
                          });
                      })
                };

                // Stop listening to input events
                var stopListeningToBodyInput = function() {
                    $body.off("focusout");
                    $body.off("keypress");
                    $body.off("keyup");
                    $body.off("keydown");
                    $body.off("cut");
                    $body.off("paste");
                };

                var draftSaveTimeout = null;
                var periodicallySaveDraft = function() {
                    if ($scope.article.slug) {
                        var sources = [];
                        for (var source in $scope.article.sources) {
                            sources.push({text: $scope.article.sources[source].text})
                        }

                        // Save article draft
                        DNN.Editor.saveDraft($scope.article.slug, {
                            title: {
                               text: $scope.article.title.text
                            },
                            cover: $scope.article.cover,
                            body: {
                              text: $scope.article.body.text,
                              textmarkup: $scope.article.body.textmarkup
                            },
                            sources: sources
                        });
                    }
                };

                // Initialize Aloha

                aloha($editableContent.get(0));

                // Editor controls
                $scope.controls = {

                    // Whether or not to show controls
                    show: true,

                    // State of formatting options
                    boldActive: false,
                    italicActive: false,

                    // Add link to selected text
                    link: function() {
                         var sel = window.getSelection ? window.getSelection(): false;

                         if (sel)
                         {
                             var rangeCount = sel.rangeCount
                             var range = rangeCount > 0 ? sel.getRangeAt(0) : false
                             var selectedText = sel.toString()

                             var replaceSelectedTextWithLink = function(link) {
                                  if (rangeCount) {
                                      if (selectedText)
                                      {
                                          var a = document.createElement('a');
                                          a.innerHTML = selectedText
                                          a.setAttribute('href', link);

                                          range.deleteContents();
                                          range.insertNode(a);
                                          $editableContent.get(0).append(document.createTextNode("\u00A0"));
                                      }
                                  }
                            };

                             var popup = new DNN.popups.Link()
                             popup.on("button", function(event) {
                                 if (event.detail.button === 1 && event.detail.data.link) {
                                    replaceSelectedTextWithLink(event.detail.data.link);
                                 }
                             });
                             popup.show();
                        }
                    },

                    // Add a source
                    addSource: function() {
                        var popup = new DNN.popups.Source()
                        popup.on("button", function(event) {
                            if (event.detail.button === 1 && event.detail.data.source) {
                                $scope.article.sources.push({text: event.detail.data.source.toString()});
                            }
                        });
                        popup.show();
                    },

                    // Remove source
                    removeSource: function(index) {
                        var popup = new DNN.popups.RemoveConfirmation("Are you sure you want to remove this source?");
        								popup.on("button", function(event) {
        										if (event.detail.button == 1) {
        												$timeout(function() {
                                    $scope.article.sources.splice(index, 1);
                                });
        										}
        								});
        								popup.show();
                    },

                };

                $body.on('click', ".editor-bold", aloha.ui.command(aloha.ui.commands.bold));
                $body.on('click', ".editor-italic", aloha.ui.command(aloha.ui.commands.italic));

                // Watch page change
                $scope.$parent.$watch("page", function(page) {

                      // Make sure we are on this page
                     if (page === "article-editor") {

                          // Make the DNN Module accessible in scope
                          $scope.DNN = DNN;

                          // Message to show user when article is being saved
													$scope.saveIndicator = "";

                          // Model representing article
                          $scope.article = {
															 title: {text: ""},
															 body: {text: "", textmarkup: ""},
															 cover: "",
															 slug: DNN.generateID(),
                               user: DNN.Session.current,
                               sources: []
													};

                          // Attempt to load article using slug in URL
                          var urlSlug = ($location.path() || "").replace("/article-editor/", "") || ""

                          DNN.Editor.getDraft(urlSlug)
                            .then(function(response) {

                                $timeout(function() {
                                    if (response.article) {
                                        $scope.article.slug = response.article.slug
                                        $scope.article.title.text = response.article.article.title.text
                                        $scope.article.body.text = response.article.article.body.text
                                        $scope.article.body.textmarkup = response.article.article.body.textmarkup
                                        $scope.article.cover = response.article.article.cover
                                        $scope.article.sources = response.article.article.sources || []
                                        $editableContent.html($scope.article.body.textmarkup);
                                    }
                                    else {
                                        urlSlug = $scope.article.slug;
                                    }

                                    // Update the URL with slug of article.
                                    $location.path("article-editor/"+$scope.article.slug).replace()
                                });
                            });



                          // Triggers upload dialog to add a cover image
                          $scope.addArticleCover = function() {

                              // Uploader popup
                              var popup = DNN.popups.UploaderLocal();

                              // Update UI to reflect upload
                              popup.on("uploaded", function(event) {
                                    var details = event.detail
                                    $timeout(function() {
                                          $scope.article.cover = details.mediaid;
                                    });
                              });
                              popup.show();
                          };

                          $scope.submit = function() {

                              // Make sure that the article has at least a title and body
                              if ($scope.article.title.text.length > 0 && $scope.article.body.text.length > 0) {

                                 // Confirm that the user is ready to submit the article
                                  var popup = DNN.popups.ArticleSubmitConfirmation();

                                  // Determine which option the user selected
                          				popup.on("button", function() {
																			if (event.detail.button === 0) popup.hide()
																			else if (event.detail.button === 1)
																			{
                                          // Give the article a created date before submitting
																					$scope.article.created = (new Date()).toString();

                                          var sources = [];
                                          for (var source in $scope.article.sources) {
                                              sources.push({text: $scope.article.sources[source].text})
                                          }

                                          // Submit article
                                          DNN.Editor.submitArticle({
                                              slug: $scope.article.slug,
                                              title: {
                                                 text: $scope.article.title.text
                                              },
                                              cover: $scope.article.cover,
                                              user: {
                                                  _id: DNN.Session.current._id || "",
                                                  name: DNN.Session.current.name || "",
                                                  photo: DNN.Session.current.photo || "",
                                              },
                                              body: {
                                                text: $scope.article.body.text,
                                                textmarkup: $scope.article.body.textmarkup
                                              },
                                              sources: sources
                                          });




                                          DNN.popups.ArticleSubmitted().show().on("button", function(event) {
                                              $timeout(function() {

                                                  // // Clear Article Data
                                                  $scope.article.slug = DNN.generateID();
                                                  $scope.article.title.text = "";
                                                  $scope.article.cover = "";
                                                  $scope.article.body.text = "";
                                                  $scope.article.body.textmarkup = "";
                                                  $scope.article.sources = [];

                                                  // Clear Body Field
                                                  $editableContent.html("");

                                                  // Go to submitted article
                                                  $scope.$parent.setPage("article-submitted");
                                                  
                                                  // // Update the URL with slug of article.
                                                  // $location.path("article-editor/"+$scope.article.slug).replace()

                                              })
                                          })
                                      }
																	});
																	popup.show();
															}
													};

                          // Save draft every 5 seconds
                          draftSaveTimeout = setInterval(function() {
                              periodicallySaveDraft();
                          }, 5000);

                          startListeningToBodyInput();
                      }
                      else {
                          clearInterval(draftSaveTimeout);
                          stopListeningToBodyInput();
                      }
                 });


          });
		}])
</script>
