<div class="page-wrapper" ng-controller="ArticlesReviewedCtrl">
	<div class="wrapper">
     <main id="article-reviewed">
			  <h1>Articles Reviewed</h1>
				<div class="articles" ng-show="articles.length > 0">
						<div class="article-wrapper" ng-repeat="article in articles">
								<div class="article" ng-click="view(article.slug)">
									<mediabackground ng-if="article.article.cover && article.article.cover != ''"  type="image" hash="article.article.cover"></mediabackground>
									<div ng-if="!article.article.cover || article.article.cover == ''" class="image"></div>
									<div class="body">
											<span ng-if="article.article.title.text != ''">[[article.article.title.text]]</span>
											<span ng-if="article.article.title.text == ''">Untitled</span>
											<span><i></i> Created [[article.article.created | fromnow]]</span>
									</div>
								</div>
								<div class="state">
										<div class="status" data-status="votecount">
											<span>Status: </span>
											<span>1/7 reviewers have voted</span>
										</div>
								</div>
					</div>
			</div>
			<p class="empty-message" ng-show="articles.length === 0">You have not reviewed any articles yet.</p>

      <div class="bottom">
        <button ng-click="$parent.setPage('stream')">Back to Feed</button>
      </div>

    </main>
    </div>
</div>

<script>
		'use strict';
		angular.module('DNN')
			.controller('ArticlesReviewedCtrl', ['$scope', '$location', '$timeout', '$controller', function($scope, $location, $timeout, $controller) {
				window["addEventListener"]('load', function() {

							// Watch page change
							$scope.$parent.$watch("page", function(page) {

										// Make sure we are on this page
									 if (page === "article-reviewed") {

											 var fetchArticles = function() {
														DNN.User.getReviewedArticles()
															.then(function(response) {
																		$timeout(function() {
																					$scope.articles = response.articles;
																		})
															})
												};

												$scope.view = function(slug) {
														$scope.$parent.viewArticle(slug);
												};

												fetchArticles();
										}
							});
				});
			}]);
</script>
