
<div class="page-wrapper" ng-controller="ArticleReviewCtrl" id="review-page">
	<div class="wrapper">

		<div id="holder" ng-class="{show: section == 'feedback', hide: section != 'feedback'}">
				 <div id="article-sources">
						<h3>Sources</h3>
						<div class="sources">
								<div class="source" ng-repeat="source in article.sources">
										<span>[[$index+1]] [[source.text]]</span>
								</div>
						</div>
				</div>
		    <main id="article">
		       <article>
		         <div class="intro">
							 <mediabackground ng-if="user.photo && user.photo != ''"  type="image" hash="user.photo"></mediabackground>
				       <div class="details">
		             <span>Written by: <strong>[[user.name]]</strong></span>
		             <span>[[created | date]]</span>
		           </div>
							 <a href="/guidelines" target="_blank" class="read-guidelines"></a>
		         </div>
		          <h1>[[article.title.text]]</h1>
		          <media type="image" ng-if="article && article.cover != ''" hash="[[article.cover]]" id="main-media"></media>
		          <div class="divider"></div>
		         <div class="body" ng-bind-html="article.body.textmarkup | trust"></div>
		      </article>

					<div class="bottom">
							<button class="feedback-button" ng-class="{hasfeedback: review.feedback != ''}" ng-click="feedbackPopup.show()"></button>
		        	<button class="next-button" ng-disabled="review.feedback.length == 0" ng-click="next()">Next</button>
		      </div>
				</main>
		</div>

		<main id="review-peer-vote" ng-class="{show: section == 'personal-vote', hide: section != 'personal-vote'}">
			<div class="heading">
				<h1>Question 1 of 2</h1>
		  </div>
			<div class="section">
					<div class="container">
							<p>Based on the <a href="/guidelines" target="_blank">DNN Content Guidelines</a>, do you think this piece is fair and equitable enough to be published?</p>
							<div class="radios">
								<div class="radio">
							    	<input id="radio-1" ng-model="review.personalVote" name="personalVote" type="radio" ng-value="true">
							    	<label for="radio-1" class="radio-label">YES</label>
							  </div>
								<div class="radio">
							    	<input id="radio-2" ng-model="review.personalVote" name="personalVote" type="radio" ng-value="false">
							    	<label for="radio-2" class="radio-label">NO</label>
							  </div>
							</div>
					</div>
			</div>
			<div class="bottom">
					<button class="back-button" ng-click="back()"></button>
        	<button class="next-button" ng-click="next()">Next</button>
      </div>
		</main>

		<main id="review-personal-vote" ng-class="{show: section == 'peer-vote', hide: section != 'peer-vote'}">
			<div class="heading">
				<h1>Question 2 of 2</h1>
		  </div>
			<div class="section">
					<div class="container">
						<p>How likely do you think it is that the majority of the reviewers will approve this piece for publication?</p>
						<div class="radios">
							<div class="radio">
									<input id="radio-3" ng-model="review.peerVote" name="peerVote" type="radio" ng-value="true">
									<label for="radio-3" class="radio-label">LIKELY</label>
							</div>
							<div class="radio">
									<input id="radio-4" ng-model="review.peerVote" name="peerVote" type="radio" ng-value="false">
									<label for="radio-4" class="radio-label">UNLIKELY</label>
							</div>
						</div>
					</div>
			</div>
			<div class="bottom">
					<button class="back-button" ng-click="back()"></button>
        	<button class="next-button" ng-click="next()">Submit Review</button>
      </div>
		</main>

		<main id="review-done" ng-class="{show: section == 'review-done', hide: section != 'review-done'}">
			<div class="heading">
				<h1>Vote Submitted</h1>
		  </div>
			<h3>Your reviewer vote has been successfully cast!</h3>
			<div class="bottom">
					<button ng-click="$parent.setPage('stream')">Back to Feed</button>
      </div>
		</main>

    </div>
</div>

<script>
  angular.module("DNN")
    .controller("ArticleReviewCtrl", ["$scope", "$timeout", "$location", function($scope, $timeout, $location) {
					window["addEventListener"]('load', function() {

			          // Watch page change
			          $scope.$parent.$watch("page", function(page) {

			                  // Make sure we are on this page
			                 if (page === "article-review") {

				                     var slug = ($location.path() || "").replace("/article-review/", "") || ""
				                     DNN.Article.get(slug)
				                        .then(function(data) {
																		var articleData = data.article ? JSON.parse(JSON.stringify(data.article)) : {}
				                            if (data.article) {
				                                $timeout(function() {
				                                    $scope.article = data.article.article;
				                                    $scope.user = data.article.article.user;
				                                    $scope.created = data.article.created;
																						$scope.section = "feedback"
																						$scope.review = {
																								feedback: "",
																								personalVote: false,
																								peerVote: false,
																						};

																						DNN.popups.ReviewPolicy().show().on("button", function() {
																						})

																						$scope.feedbackPopup = DNN.popups.Feedback();
																						$scope.feedbackPopup.on("data", function(event) {
																					      $timeout(function() {
																					          $scope.review.feedback = event.detail.feedback;
																					      });
																					  });

																						$scope.next = function() {
																								if ($scope.section === "feedback") {
																										if ($scope.review.feedback.length > 0) {
																											$scope.section = "personal-vote";
																										}
																								}
																								else if ($scope.section === "personal-vote") {
																										$scope.section = "peer-vote";
																								}
																								else if ($scope.section === "peer-vote") {

																									DNN.Editor.reviewArticle(articleData.slug, articleData.article, $scope.review)

																									DNN.popups.ArticleReviewed().show().on("hide", function() {
																											$timeout(function() {
																													$scope.$parent.setPage("stream");
																											})
																									})
																								}
																						 };

																						$scope.back = function() {
																								if ($scope.section === "personal-vote") {
																										$scope.section = "feedback";
																								}
																								else if ($scope.section === "peer-vote") {
																									$scope.section = "personal-vote";
																								}
																						 };

				                                });
				                            }
				                        });
												}
								  });
						});

		}])
</script>
