<div id="article-page" class="page-wrapper" ng-controller="ArticleCtrl">
  <div class="wrapper" id="holder">
      <div id="article-sources">
        <h3>Sources</h3>
        <div class="sources">
            <div class="source" ng-repeat="source in article.sources">
                <span>[[$index+1]] [[source.text]]</span>
            </div>
        </div>
     </div>

      <main id="article">
       <article>
         <div class="intro">
					 <mediabackground ng-if="user.photo && user.photo != ''"  type="image" hash="user.photo"></mediabackground>
		       <div class="details">
             <span>Written by: <strong>[[user.name]]</strong></span>
             <span>[[created | date]]</span>
           </div>
         </div>
          <h1>[[article.title.text]]</h1>
          <media type="image" ng-if="article && article.cover" hash="article.cover" id="main-media"></media>
          <div class="share">
            <a href="javascript:void(0);" ng-click="share()">
              <div class="facebook"></div>
            </a>
            <a href="javascript:void(0);" ng-click="share()">
              <div class="twitter"></div>
            </a>
            <a href="javascript:void(0);" ng-click="like()">
              <div class="heart"></div>
              <span>0</span>
            </a>
          </div>
          <div class="divider"></div>
         <div class="body" ng-bind-html="article.body.textmarkup | trust"></div>
      </article>

      <div class="comment-section">
        <div class="comment-count">
          <div class="icon"></div>
          <div class="count">0 comments</div>
        </div>
        <button class="post-button" ng-click="comment()">Post Comment</button>
        <div class="comments">
        </div>
      </div>

			<div class="bottom">
        	<button ng-click="$parent.setPage('stream')">Back to Feed</button>
      </div>
     </main>
    </div>
</div>

<script>
  angular.module("DNN")
    .controller("ArticleCtrl", ["$scope", "$timeout", "$location", function($scope, $timeout, $location) {
					window["addEventListener"]('load', function() {

              // Watch page change
              $scope.$parent.$watch("page", function(page) {

                      // Make sure we are on this page
                     if (page === "article-preview") {

                         var slug = ($location.path() || "").replace("/article-preview/", "") || ""
                         DNN.Article.get(slug)
                            .then(function(data) {
                                if (data.article) {
                                    $timeout(function() {
                                        $scope.article = data.article.article;
                                        $scope.user = data.article.article.user;
                                        $scope.created = data.article.created;
                                    });
                                }
                            });


                          $scope.share = function() {
                                // show popup
                          };

                          $scope.like = function() {
                                // show ppopup
                          };

                          $scope.comment = function() {
                                // show popup
                          };
                     }
                });

					});
		}])
</script>
