{{#extend "layout-base"}}
	  {{#content "body"}}
		<div class="page-wrapper" ng-controller="GuidelinesCtrl">
  		{{#embed "partial-header"}}{{/embed}}
      <div id="wrapper">
		         <main id="guidelines" class="blog">
							 <h1>DNN Content Guidelines</h1>
							 <p>DNN has three core content policies:</p>
							 <ol>
									<li>Verifiability</li>
									<li>No Unsourced Content</li>
									<li>Faithfulness to Sources</li>
							 </ol>
							 <p>Together, these three content rules determine the style and quality of material that is acceptable and should not be viewed separately from one another.</p>
							 <p>Writers and reviewers on the network are strongly encouraged to familiarize themselves with all three policies. DNN’s content policy is non-negotiable and cannot be overridden by editor or writer consensus.</p>
							 <h3><em>Verifiability</em></h3>
							 <p>Verifiability in DNN means that other people, whether readers, writers, or reviewers, can trace the information contained in any given article back to its original source. Every definitive statement, presented as fact, has to be backed by a reputable and published source, thereby granting readers the freedom to look through a writer’s source material.</p>
							 <p>DNN will not publish material that lacks proper sources. Our political content is mainly determined by information that has already been published and is not to be based solely on the personal viewpoints of writers. This also means that anonymous sources cannot be utilized since they lack a publicly visible point of origin.</p>
							 <p>Regardless of whether or not writers are sure that a certain aspect is indeed true, it must be verifiable by the audience before they can include it in their final piece.</p>
							 <p>Many times, reliable sources can be in conflict with one another; in such cases, it is essential for writers to maintain accuracy and an objective perspective by simply presenting what all the sources state, while also citing the corresponding place of origin.</p>
							 <p>All material in DNN, including articles, lists, and captions, must be verifiable. <strong>The onus to prove verifiability is the responsibility of the writer who includes the material</strong>, which means the reporter must be comfortable with providing attribution that can back the corresponding content directly and effectively.</p>
							 <p>Anything that is quoted, as well as any content with verifiability that is being debated or could end up being debated, needs to have an inline citation present that directly supports it. The attributed source material must visibly support the content as shown in the piece.</p>
							 <p>Additionally, any passage in an article that clearly requires a source but has not been given one, may be subject to scrutiny by reviewers on DNN. In such cases, this may lead to rejection for the writer, if the reviewer deems that the passage needs to be adequately backed up by a reference. Condescending or malicious content about living or well-known individuals that are not sourced or is poorly sourced, is subject to immediate rejection by DNN’s reviewers.</p>
							 <p>Reliable sources include:</p>
							 <ul>
								 	<li>University-level textbooks</li>
								 	<li>Books published by respected publishing houses</li>
								 	<li>Books published by university presses</li>
								 	<li>Magazines</li>
								 	<li>Peer-reviewed journals</li>
								 	<li>Mainstream newspapers</li>
								 	<li>Respected blogs</li>
							</ul>
							 <p>At times, writers must exercise caution with certain sources, since they may not have been scrutinized during their organization's normal fact-checking processor may have been published in error.</p>
							 <h3><em>No Unsourced Content</em></h3>
							 <p>DNN articles must not contain unsourced content. Unsourced content on DNN to refers to content such as theories, allegations, and ideas, that cannot be traced back to any reliable and published sources.</p>
							 <p>This also includes analysis of published material where a writer attempts to reach or imply a conclusion that is not stated by the source material. For writers to show that they are indeed not including unsourced content, they need to be able to cite reliable, already published sources that are directly related to the topic of the article and directly support the content within. </p>
							 <p>Despite attributing content to its source material, writers need to be cautious to not plagiarize said content. Instead, writers should write the material in their own words through paraphrasing while still keeping the original source’s meaning.</p>
							 <p>By actively barring writers from including unsourced content in their work, DNN can place limits on the degree to which writers present clear falsehoods within articles. In turn, this also becomes a supporting pillar for accuracy on the platform.</p>
							 <p>For DNN’s writers, research that consists of gathering and shaping content from existing, previously published sources is important to writing a factually accurate article. Ideally, the best practice for writers on the platform would be to research the most reliable and significant sources on a given subject before summarizing what is said in his or her own words, while clearly attributing statements to their correct sources. Source material needs to be carefully paraphrased and structured while continuing to retain its original meaning. Writers should not interject and deviate from what is contained in the sources by implying or directly stating things that were not otherwise stated. This includes positioning the content out of its primary context. Simply put, content on DNN must stick to the nature of its sources and never stray.</p>
							 <h3><em>Faithfulness to Sources</em></h3>
							 <p>All political news content existing on DNN that is attributed to sources <strong>must be consistent</strong> with said sources. This means that any piece of content must fairly and accurately represent the perspectives that have been already published by reliable sources on a given topic.</p>
							 <p>Additionally, sourced information should be presented in such a way that editorial bias is mitigated, even if only a little. In essence, while writers are allowed to maintain a voice in their writings, articles on DNN need to be clearly supported by evidence. It is the job of reviewers to validate and publish articles that present information with clearly attributed sources and without editorial manipulation of the sourced content.</p>
							 <p>To achieve this, a writer must critically and meticulously analyze a variety of reliable sources before attempting to portray to the reader the information contained in them fairly, proportionately, and with as little bias as possible. Listed below are the following principles to achieve the level of both faithfulness and fairness to sourced content that makes DNN purposeful:</p>
							 <ul>
								 	<li><strong>Do not state opinions as facts.</strong> Many time, articles will contain information conveying important opinions that have been expressed about the subjects at hand. However, these opinions should not be stated in the writer’s voice. Instead, they should be accurately attributed in the text to those particular sources, or where sensible and acceptable, described as widely held views, minority views, etc. </li>
								 	<li><strong>Do not state seriously debated/questionable assertions as facts.</strong> Sometimes, two or more reliable sources may conflict with one another. Writers should treat such assertions as opinions rather than facts, and not present them as direct statements, otherwise, this would give rise to bias.</li>
								 	<li><strong>Do not state facts as opinions.</strong> Factually-backed assertions that are uncontested and uncontroversial, as well as made by reliable sources should usually be directly stated on DNN. Unless a particular topic specifically deals with a disagreement over otherwise uncontested information, writers would not need specific attribution for such assertions, although they may add a reference link to the source in support of verifiability. Most importantly, any passages containing information about factual assertions should not be worded in any way that makes them appear to be debatable.</li>
							 </ul>
							 <h3><em>Additional notes</em></h3>
							 <p>For writers, an important point of note is that they must use their real name. This is a measure primarily meant to prevent anyone on the platform from impersonating another writer and DNN plans to incorporate social sign-ins to enforce this.</p>
							 <p>Ideally, reviewers should strive to encourage writers to reword certain sections or sentences that deviate from their sources, or to include sources if they aren’t already present for statements that seemingly require them. Information that is blatantly untrue or lacks a clear origin can usually be detected in a fact-checking process by weighing said information against its source.</p>
							 <p>Essentially, such problems should be rectified when possible through the normal review process. The certain material should only be removed if there is good reason to believe that it misinforms readers in ways that cannot be addressed by rewriting it.</p>
							 <p>Furthermore, the views of the writer (since they are unsourced) should only be included, in a "see also" or “to be sure” subsection to an article that explicitly speaks about those specific views.</p>
							 <p>DNN hopes to report on issues, free of any blatant falsehoods and statements describing events that never occurred or statements that were never made. Research that is both extensive and properly referenced, as well as based upon the most reputable authoritative and reliable sources available, can help mitigate conflicts in accuracy, even if it does not eliminate them altogether.</p>

								<div class="bottom">
			            <button onclick="window.location.href = '/dashboard'">Back to Dashboard</button>
			          </div>

					</main>
        </div>
    </div>
		{{/content}}

		{{#content "scripts"}}
		<script>
				'use strict';
				angular.module('DNN')
					.controller('GuidelinesCtrl', ['$scope', '$location', '$timeout', '$controller', function($scope, $location, $timeout, $controller) {
						window["addEventListener"]('load', function() {
								if (handleBrowserWeb3EnabledIfNeeded()) {
									DNN.User.handle(DNN.User.Types.Any)
											.then(function(user) {
													$timeout(function() {
															$scope.DNN = DNN;
														});
												});
									}
								});
					}]);
	  </script>
		{{/content}}
{{/extend}}
